GOOGLE_POLLEN_API_KEY=pollen-api-key-here
GEMINI_API_KEY=gemini-api-key-here
GOOGLE_APPLICATION_CREDENTIALS=./gcp-key.json
GCP_PROJECT_ID=gco-project-name
INAT_APP_ID=your-inat-app-id
USE_FIRESTORE=false
